body {
    line-height: 2.0;
    font-family: 'Crimson Text', serif;
    font-size: xx-large;
    background-color: #616283;
}

@media (max-width: 360px) {

    body {
        font-size: x-large;
    }

}

.custom-text-p {
    font-size: large;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-background-p {
    background-color: #616283;
}


.custom-text-h1 {
    font-size: larger;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-background-h1 {
    background-color: #616283;
}

.custom-margin-sides {

    margin-left: 15px;
    margin-right: 15px;

}

@media (min-width: 768px) {

    .custom-margin-sides {

        margin-left: 50px;
        margin-right: 50px;
    
    }

}

@media (min-width: 992px) {

    .custom-margin-sides {

        margin-left: 300px;
        margin-right: 300px;
    
    }

}

@media (min-width: 1200px) {

    .custom-margin-sides {

        margin-left: 400px;
        margin-right: 400px;
    
    }

}

@media (min-width: 1400px) {

    .custom-margin-sides {

        margin-left: 500px;
        margin-right: 500px;
    
    }

}

@media (min-width: 1600px) {

    .custom-margin-sides {

        margin-left: 600px;
        margin-right: 600px;
    
    }

}